In [1]:
import pandas as pd

In [2]:
# 데이퍼프레임 생성
friend_dict_list= [
    {'name':'John','age':25,'job':'student'},
    {'name':'Nate','age':30,'job':'teacher'},
]

In [3]:
df= pd.DataFrame(friend_dict_list)

In [4]:
df

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [6]:
# 컬럼 순서 변경
df = df[["age","name","job"]]

In [7]:
df

   age  name      job
0   25  John  student
1   30  Nate  teacher

In [15]:
column_name = ['name','age','job']
friend_list=[
    ['John',25,'student'],
    ['Nate',30,'teacher'],
]

In [16]:
df=pd.DataFrame.from_records(friend_list,columns=column_name)

In [17]:
df

   name  age      job
0  John   25  student
1  Nate   30  teacher