In [10]:
import pandas as pd
df = pd.read_csv("./example.csv")

In [11]:
df.head()

    name   age         job
0  John     20     student
1  Jenny    30   developer
2   Nate    30     teacher
3  Julia    40     dentist

In [13]:
# 컬럼 이름 변경
df.columns = ["이름","나이","직업]