In [22]:
import pandas as pd
# csv 파일 불러오기
dataframe = pd.read_csv("./example.csv")

In [23]:
# 위에서 5개 행 출력
dataframe.head()

    name   age         job
0  John     20     student
1  Jenny    30   developer
2   Nate    30     teacher
3  Julia    40     dentist

In [33]:
# 아래에서 5개 행 출력
dataframe.tail()

    name   age         job
0  John     20     student
1  Jenny    30   developer
2   Nate    30     teacher
3  Julia    40     dentist

In [25]:
# DataFrame 타입
type(dataframe)

pandas.core.frame.DataFrame

In [41]:
# Series(col) 타입
type(dataframe.name)

pandas.core.series.Series

In [38]:
# 시리즈 만들기
s1 = pd.core.series.Series([1,2,3])
s2 = pd.core.series.Series(["one", "two", "three"])

In [39]:
# 데이터프레임 만들기
df = pd.DataFrame(data=dict(num=s1,word=s2))

In [40]:
df

   num   word
0    1    one
1    2    two
2    3  three